*{
	padding: 0;
	margin: 0;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body{
	font:11px "微软雅黑";
}
h1, h2, h3, h4, h5, h6{ font-weight:normal }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
li{
	list-style: none;
}
a{text-decoration: none; color:#666;}
img{
	border:none;
	display: block;
}
i,em{font-style: normal;}
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { outline: none; }
table { border-collapse:collapse; border-spacing:0; }

.conWidth{
	width:1190px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/* main */
